@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Medium";
    src: local("Kanit-Medium"),
      url("./assets/fonts/kanti/Kanit-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "MediumItalic";
    src: local("Kanit-MediumItalic"),
      url("./assets/fonts/kanti/Kanit-MediumItalic.ttf") format("truetype");
  }

  @font-face {
    font-family: "SemiBold";
    src: local("Kanit-SemiBold"),
      url("./assets/fonts/kanti/Kanit-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "SemiBoldItalic";
    src: local("Kanit-SemiBoldItalic"),
      url("./assets/fonts/kanti/Kanit-SemiBoldItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "Thin";
    src: local("Kanit-Thin"),
      url("./assets/fonts/kanti/Kanit-Thin.ttf") format("truetype");
  }
  @font-face {
    font-family: "ThinItalic";
    src: local("Kanit-ThinItalic"),
      url("./assets/fonts/kanti/Kanit-ThinItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "Regular";
    src: local("Kanit-Regular"),
      url("./assets/fonts/kanti/Kanit-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Italic";
    src: local("Kanit-Italic"),
      url("./assets/fonts/kanti/Kanit-Italic.ttf") format("truetype");
  }
}

@layer utilities {
  /* Apply to the container where overflow-y is enabled */
  .sidebar {
    overflow-y: auto;
  }

  /* Customize scrollbar */
  .sidebar::-webkit-scrollbar {
    width: 8px;
  }

  .sidebar::-webkit-scrollbar-thumb {
    background-color: #2ea3dc;
    border-radius: 10px;
  }

  .sidebar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  /* sidebar 2 */
  .sidebar2 {
    overflow-y: auto;
  }

  /* Customize scrollbar */
  .sidebar2::-webkit-scrollbar {
    width: 8px;
    height: 4px;
  }

  .sidebar2::-webkit-scrollbar-thumb {
    background-color: #2ea3dc;
    border-radius: 10px;
  }

  .sidebar2::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
